<!-- About Section Start -->
<div class="rs-about style11 mt-10 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <span class="bold-text mb-22">D.N High School (Upper
                        Primary)</span>
                    <div class="mt-10 mb-22"><b>Primary education is the
                            foundation of holistic personality
                            development</b></div>
                    <div class="desc">Primary school is a unique place for
                        Education, Discipline, Culture and
                        Socialization. The horizons of education have
                        greatly expanded in the long run from
                        antiquity to the computer age. In order to achieve
                        the definition of education more
                        emphasis is laid on discipline and sacrament as well
                        as education. </div>
                    <div class="desc">Co-curricular activities are organized
                        here for the overall development of
                        the child's mind along with the study. Experienced
                        and Diligent teachers take great care
                        of the students in the ocean of knowledge, We wish
                        all the members of the school family
                        that the upper primary school will always reach the
                        pinnacle of success and glory.</div>
                </div>
                <div class="btn-part mt-10">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->