<!-- About Section Start -->
<div class="rs-about style11 mt-10 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.JPG" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <div class="bold-text mb-10"> મહાત્મા ગાંધી વિધાલય મોગરી
                    </div>
                    <p class="desc">
                        ચરોતર એજયુકેશન સોસાયટી આણંદ સંચાલિત મહાત્મા ગાંધી વિધાલય - પ્રાથમિક વિભાગ, મોગરી નો પાયો નાંખનાર
                        અને રામય ની માંગ રામજીને પોતાના' વિચાર ને અમલમાં લાવનાર ભૂતપૂર્વ મંત્રી શ્રી રમણભાઈ નારાયણભાઇ
                        પટેલ હતા, તેમના વરદ હસ્તે તાઃ ૧૩-૦૬-૧૯૦૨ ના રોજ' સૌ પ્રથમ ધોરણ ૫-૬-૭ ના વર્ગો શરૂ કરવામાં આવ્યા
                        હતાં શ્રી રમણભાઈ નારાયણભાઇ પટેલ જેઓ મહાત્મા ગાંધી વિધાલય મોગરી ખાતે આચાર્ય તરીકે ફરજ બજાવતા હતા
                        અને સાથે રાાથે પ્રાથમિક વિભાગ નો પણ કાર્યભાર સંભાળતા
                        હતા.
                    </p>
                    <p class="desc">
                        તેજ વર્ષથી વિધાર્થીઓની રાંખ્યા ધો. ૫ માં ૫૩, ધો.૬ મા ૫૩, તથા ધો.૭ માં-૫૦ ની હતી .આમ તે વર્ષે કુલ
                        ૧૫૦ વિધાર્થીઓ એ પ્રવેશ મેળવ્યો હતો. તે સમયે શિક્ષક કર્મચારી સંખ્યા - ૫ હતી અને બિનશિક્ષક
                        કર્મચારી ની સંખ્યા -૨ હતી ત્યારબાદ કમશઃ વિધાર્થીઓની સંખ્યામાં વધારો થતો ગયો તેમ શિક્ષક ગણ માં પણ
                        વધારો થતો ગયો અને તાઃ ૬-૦૧- ૧૯૯૬ થી ધો-૫-૬-૭ ના બબ્બે વર્ગ ની મંજુરી મળતા બબ્બે વર્ગ શરૂ કરવામાં
                        આવ્યા હતા.
                    </p>
                </div>
                <div class="btn-part mt-10">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->