<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Message From From Principal's desk</h2>
                    <h5>PRATIK DHIRENDRASINH GARASIYA
                        <br>
                        <span>Principal, D.N. High School (Upper Primary)</span>
                    </h5>
                    <p style="text-align: justify;">A land full of greenery with modern facilities, a land of discipline
                        and cleanliness, a land of action of revolutionaries, and natural environment is famous all over
                        the world, spreading knowledge and creating the best citizens. It is an honor for me to have the
                        opportunity to serve in a school that has been in constant operation since 1916 till date.</p>

                </div>
            </div>
            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/principal.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <p style="text-align: justify;">A School that inculcates culture and education with modern methods
                        in accordance with today's time, means D. N. High School Upper Primary School. A son of D. N.
                        has great a treasure of strength, virtue, courage and leadership.
                    </p>
                    <p style="text-align: justify;">Along with Education, I have extreme desire to do something special
                        by focusing on things like various sports activities, exercise and yoga for the health of my
                        children. Along with all my teachers and other staff members, I have cultivated a family spirit
                        and remained loyal to the institution and school. I am serving and will continue to serve the
                        administrative work. I have deep feeling in my heart that a student of my school will go to any
                        corner of the world will become proficient in any field. I am confident that my student will
                        swim differently in the field of education. I strongly believe in Work but not in Luck.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>