.btn-outline-primary {
    color: #236094;
    border-color: #236094;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #236094;
    border-color: #236094;
}
.btn-outline-primary:active {
    color: #fff;
    background-color: #236094;
    border-color: #236094;
}