.btn-outline-primary {
    color: #c33f50;
    border-color: #c33f50;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #c33f50;
    border-color: #c33f50;
}
.btn-outline-primary:active {
    color: #fff;
    background-color: #c33f50;
    border-color: #c33f50;
}